

.Chat{
    overflow-y: scroll;
    // overscroll-behavior-y: ;
    background-color: rgba(112, 112, 122, 0.283);
    text-align: center;
    // justify-content: center;
    // align-items: center;
    width: 60%;
    height: 60vh;
    margin: auto;
    margin-top: 120px;
    padding: 30px;
    // border-radius: 10px;
}