.Message{
    width: fit-content;
    min-width: 35%;
    max-width: 80%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    // border-style:inset;
    border-width: 5px;
    margin: 10px 0px 10px 10px;
    display: inline-block;
    // box-shadow: inset 10px 10px 10px;
    padding: 10px;
    overflow-x: hidden;
}